[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    overflow: hidden !important
}

.form-control,
label {
    font-size: inherit;
    font-weight: inherit
}

.red {
    color: red
}

.margin-top-0 {
    margin-top: 0 !important
}

.signup-mc {
    height: 30px;
    text-align: right;
    padding-top: 3px;
    padding-right: 20px
}

.b__change--avatar {
    width: 100%;
    flex-basis: 20%
}

.bg_info_customer {
    background: #0056b3;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0
}

.customer_logout {
    padding-left: 20px;
    color: #0056b3;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding-top: 10px
}

.wallet_content {}

#wallet-amount {
    border-radius: 0
}

.customer_logout a {
    color: #0056b3
}

.bg_info_customer .user-info {
    padding: 5px 0;
    font-size: 12px;
    width: 100%;
    text-align: left
}

.b__change--avatar a img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%
}

.date-submit i {
    font-size: 13px
}

.nofifition-drop-item a {
    margin-right: 0 !important;
    display: flex;
    padding: 10px
}

.nofifition-drop-item.unread {
    background-color: #e6f0fa
}

.nofifition-drop-item:hover {
    background-color: #f8f8f8
}

.nofifition-drop-item:not(.last-item) a {
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.notification-image {
    width: 56px;
    height: 56px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px
}

.notification-content-description {
    width: 80%;
    text-align: left
}

.UserNotificationDroprown {
    display: none
}

.notification-content-description .title {
    color: rgba(0, 0, 0, .8)
}

#NotificationDroprown {
    position: absolute;
    right: 0;
    z-index: 9;
    background: #fff;
    width: 400px;
    top: 40px;
    border: 1px solid rgba(0, 0, 0, .09);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, .2)
}

#NotificationDroprown .scroll-view {
    overscroll-behavior: contain;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative
}

#NotificationDroprown .scroll-view::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
    display: block
}

#NotificationDroprown .scroll-view::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #d8d8d8;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

.title_notification {
    font-size: 13px;
    margin: 0 16px;
    margin-left: 5px
}

.download-app {
    position: relative;
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px
}

.b__top-info ul li .download-app .b_title {
    margin-right: 10px
}

.b__top-info ul li .download-app .b_title:before {
    content: '';
    width: 1px;
    height: 14px;
    background: rgba(255, 255, 255, .22);
    position: absolute;
    right: 0;
    top: 12px
}

.image-app img {
    max-width: 75px
}

.image-app {
    display: flex
}

.download-app:hover .app-vs {
    display: block !important;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    padding: 5px
}

.title_notification:after {
    content: '';
    width: 1px;
    height: 37%;
    background: rgba(255, 255, 255, .22);
    position: absolute;
    right: 8px;
    top: 11px
}

.b__header--bottom {
    position: relative
}

.container-arrow {
    display: block;
    width: 100%;
    position: relative
}

.arrow-up {
    position: absolute;
    top: -12px;
    right: 38px;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff
}

.update-order-notification .c-whitebox__title {
    display: block;
    justify-content: space-between
}

#formButton {
    cursor: pointer;
    display: flex
}

.icon-notification {
    line-height: 44px
}

.date-submit span i {
    margin-right: 5px
}

.date-submit {
    color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    line-height: 20px
}

.date-submit span {
    margin-left: 5px
}

.summary {
    text-align: justify;
    font-size: 12px;
    color: rgba(0, 0, 0, .8);
    line-height: 1.4
}

.see-all {
    color: rgba(0, 0, 0, .8) !important;
    text-align: center;
    line-height: 30px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    display: block;
    text-decoration: none;
    cursor: pointer
}

.see-all:hover {
    text-decoration: underline !important
}

.b-notification .n-news {
    position: absolute;
    background: red;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    left: -1px;
    top: 7px;
    font-size: 10px;
    line-height: 15px
}

.b-notification .loading-wrapper {
    padding: 5px 0;
    color: #424242
}

.popup_add_product {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none
}

.popup_content {
    width: 300px;
    line-height: 230px;
    height: 230px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.popup_content p {
    color: #fff;
    font-size: 20px;
    text-align: center
}

.b__footer {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%
}

.signup-mc a {
    text-decoration: none
}

.f-items:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    -webkit-transform: all .3s ease-in-out;
    -ms-transform: all .3s ease-in-out;
    transform: all .3s ease-in-out
}

.background-red {
    background-color: red
}

.mobile-sidebar {
    display: none
}

.c-free-ship {
    background: url(/images/freeshipping2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: 4;
    width: 195px;
    height: 30px;
    left: 0;
    bottom: 0
}

.c-header .c-header-inner {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative
}

.c-header .c-header-inner .c-admin {
    position: absolute;
    right: 0
}

.c-header .c-header-inner .c-search {
    padding-top: 5px
}

.otp {
    border: 3px solid #f7a81b;
    letter-spacing: 15px;
    padding: 7px 5px 7px 17px;
    font-size: 20px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    outline: none
}

.fade.in {
    background: rgba(0, 0, 0, .4)
}

.tab-content .fade.in {
    background: 0 0
}

.modal {
    display: block;
    position: fixed;
    z-index: 9999;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.firm {
    float: none !important;
    width: 160px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 30px
}

.bar-bill {
    height: 40px;
    line-height: 3;
    border-bottom: 1px solid #000;
    padding: 0 40px
}

.bar-bill-a {
    text-decoration: none !important
}

.btn-remove-image {
    position: absolute;
    z-index: 1;
    background: red;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff
}

.progress-bar {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center
}

.rate {
    height: 45px;
    display: block;
    width: 160px;
    margin: auto
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc
}

.rate:not(:checked)>label:before {
    content: '★ '
}

.rate>input:checked~label {
    color: #ffc700
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08
}

.chatbox {
    right: 90px !important;
    bottom: 27px !important
}

.chatbox .chatbox-button {
    background: #fcfcfc !important;
    box-shadow: 0 5px 20px -12px rgba(0, 0, 0, .8) !important
}

.chatbox .chatbox-button .jss18 .jss22 .jss29 {
    color: #0971ce !important
}

.chatbox-main-content .jss67 .jss38 .search-box .jss125 {
    border: none !important;
    flex-direction: row-reverse !important
}

.jss233.jss244,
.jss233.jss244:hover,
.jss233.jss244:focus {
    background-color: rgba(0, 0, 0, .05) !important
}

.chatbox-main-content .jss79 {
    background-color: rgba(0, 0, 0, .05) !important
}

.chatbox-main-content .jss75 {
    border: none !important
}

.chatbox-main-content .jss70 {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .1), 0 0 1px -1px rgba(0, 0, 0, .1) !important
}

.g-recaptcha>div {
    margin: auto
}

.c-count {
    min-width: 130px !important
}

#frame {
    width: 95%;
    min-width: 360px;
    max-width: 600px;
    height: 450px;
    min-height: 300px;
    max-height: 450px;
    background: #e6eaea;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100
}

.fa-2x {
    font-size: 1.5em
}

.app {
    position: relative;
    overflow: hidden;
    height: calc(100% - 1px);
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2)
}

.app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2)
}

.side {
    padding: 0;
    margin: 0;
    height: 100%
}

.side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0
}

.side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left .3s ease;
    transition: left .3s ease
}

.heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000
}

.heading-avatar {
    padding: 0;
    cursor: pointer
}

.heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px
}

.heading-name {
    padding: 0 !important;
    cursor: pointer
}

.heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding-left: 18px;
    margin-top: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block
}

.heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f
}

.heading-compose {
    padding: 0
}

.heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer
}

.heading-dot {
    padding: 0;
    margin-left: 10px
}

.heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer
}

.searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%
}

.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb
}

.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none
}

.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px)
}

.chat-user-active {
    background-color: #f2f2f2
}

.sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer
}

.sideBar-body:hover {
    background-color: #f2f2f2
}

.sideBar-avatar {
    text-align: center;
    padding: 0 !important
}

.avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px
}

.sideBar-main {
    padding: 0 !important
}

.sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important
}

.sideBar-name {
    padding: 0 10px !important
}

.name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%
}

.sideBar-time {
    padding: 10px !important
}

.time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline
}

.newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%
}

.newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001
}

.newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff
}

.newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important
}

.newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 12px 5px !important;
    display: block;
    cursor: pointer
}

.newMessage-back i {
    margin: auto !important
}

.composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%
}

.composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb
}

.composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none
}

.compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px)
}

.conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, .08)
}

.message {
    padding: 0 !important;
    margin: 0 !important;
    background: url(w.jpg) no-repeat fixed center;
    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px)
}

.message-previous {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%
}

.previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer
}

.previous a {
    text-decoration: none;
    font-weight: 700
}

.message-body {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto
}

.message-main-receiver {
    max-width: 60%
}

.message-main-sender {
    padding: 3px 20px !important;
    margin-left: 40% !important;
    max-width: 60%
}

.message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap: break-word;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 0 !important
}

.message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 12px;
    text-align: right;
    color: #9a9a9a
}

.receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #fff;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    word-wrap: break-word;
    display: inline-block
}

.sender {
    float: right;
    width: auto !important;
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word
}

.reply {
    height: 60px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px !important;
    margin: 0 !important;
    z-index: 1000
}

.reply-emojis {
    padding: 5px !important
}

.reply-emojis i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer
}

.reply-recording {
    padding: 5px !important
}

.reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer
}

.reply-send {
    padding: 5px !important
}

.reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer
}

.reply-main {
    padding: 2px 5px !important
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none
}

@media screen and (min-width:767px) {
    .mobile-none {
        display: none !important
    }
}

@media screen and (max-width:700px) {
    .app {
        top: 0;
        height: 100%
    }
    .heading {
        height: 70px;
        background-color: #009688
    }
    .fa-2x {
        font-size: 2.3em !important
    }
    .heading-avatar {
        padding: 0 !important
    }
    .heading-avatar-icon img {
        height: 50px;
        width: 50px
    }
    .heading-compose {
        padding: 5px !important
    }
    .heading-compose i {
        color: #fff;
        cursor: pointer
    }
    .heading-dot {
        padding: 5px !important;
        margin-left: 10px !important
    }
    .heading-dot i {
        color: #fff;
        cursor: pointer
    }
    .sideBar {
        height: calc(100% - 130px)
    }
    .sideBar-body {
        height: 80px
    }
    .sideBar-avatar {
        text-align: left;
        padding: 0 8px !important
    }
    .avatar-icon img {
        height: 55px;
        width: 55px
    }
    .sideBar-main {
        padding: 0 !important
    }
    .sideBar-main .row {
        padding: 0 !important;
        margin: 0 !important
    }
    .sideBar-name {
        padding: 10px 5px !important
    }
    .name-meta {
        font-size: 16px;
        padding: 5% !important
    }
    .sideBar-time {
        padding: 10px !important
    }
    .time-meta {
        text-align: right;
        font-size: 14px;
        padding: 4% !important;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline
    }
    .conversation {
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, .08)
    }
    .message {
        height: calc(100% - 140px)
    }
    .reply {
        height: 70px
    }
    .reply-emojis {
        padding: 5px 0 !important
    }
    .reply-emojis i {
        padding: 5px 2px !important;
        font-size: 1.8em !important
    }
    .reply-main {
        padding: 2px 8px !important
    }
    .reply-main textarea {
        padding: 8px !important;
        font-size: 18px
    }
    .reply-recording {
        padding: 5px 0 !important
    }
    .reply-recording i {
        padding: 5px 0 !important;
        font-size: 1.8em !important
    }
    .reply-send {
        padding: 5px 0 !important
    }
    .reply-send i {
        padding: 5px 2px 5px 0 !important;
        font-size: 1.8em !important
    }
}

.mini-chatbox {
    width: 118px;
    min-width: 53px;
    max-width: 82px;
    height: 42px;
    min-height: 40px;
    max-height: 147px;
    background: #00918d;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 12px;
    box-shadow: 5px -5px 2px rgba(0, 0, 0, .6);
    -moz-box-shadow: 5px -5px 2px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 5px -5px 2px rgba(0, 0, 0, .6);
    -o-box-shadow: 5px -5px 2px rgba(0, 0, 0, .6);
    border-radius: 4px;
    color: #fff;
    cursor: pointer
}

.green {
    color: green
}

.mini-chatbox .badge {
    top: -5px;
    left: -8px;
    position: absolute;
    background-color: red
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600
}

.popup-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4)
}

.popup-close {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 20px;
    height: 26px;
    width: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #5a5a5a;
    top: -13px;
    right: -13px;
    border-radius: 13px;
    border: 2px solid #fff
}

.popup-close .close-svg-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    fill: currentColor;
    position: relative;
    font-size: .8rem;
    color: #fff
}

.popup-image {
    cursor: pointer
}

.popup-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: visible;
    max-height: 100%;
    max-width: 100%
}

.popup-corner {
    position: fixed;
    right: 15px;
    bottom: 55px;
    overflow: visible;
    z-index: 1000
}

.popup-corner .popup-close {
    background-color: #0871ce !important
}

.popup-corner .popup-close i {
    color: #fff !important
}

.container-merchant-slide {
    max-height: 360px;
    overflow: hidden
}

.fs-hours {
    background-image: linear-gradient(to right, #0871ce, #021b79);
    overflow: hidden;
    margin-top: 20px
}

@media(min-width:992px) {
    .fs-hours {
        display: flex
    }
}

.fs-hours a {
    text-decoration: none
}

.fs-hours .hour-active {
    background-color: #e02020
}

.fs-hours .hour-inactive {
    background-color: gray
}

.fs-hour {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 15px 0
}

.fs-hour h3 {
    margin-top: 0
}

.fs-events {
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #9b9b9b
}

@media(min-width:992px) {
    .fs-events {
        display: flex
    }
}

.fs-events .empty {
    margin-top: 10px;
    text-align: center
}

.fs-event {
    text-align: center;
    font-size: 18px;
    padding: 15px;
    border-style: solid;
    border-bottom-width: 4px;
    border-color: #fff;
    border-image-slice: 1
}

.fs-event a {
    text-decoration: none;
    color: #000
}

.fs-event-active {
    border-image-source: linear-gradient(to right, #0871ce 17%, #021b79 89%)
}

.fs-products {
    background-color: #fff;
    overflow: hidden;
    padding: 15px 0
}

.fs-products a:hover {
    text-decoration: none
}

.fs-product {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #9b9b9b;
    background-color: #fff;
    text-decoration: none
}

.fs-product-image img {
    width: 100%;
    height: 270px
}

@media(min-width:992px) {
    .fs-product-image img {}
}

.fs-product-sale-percent {
    position: absolute;
    top: 0;
    right: 20px;
    background: url(/images/label_sale_percent.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 60px;
    width: 40px;
    padding-top: 5px;
    color: #fff;
    text-align: center;
    font-size: 12px
}

.fs-product-sale-percent span {
    font-size: 14px;
    color: #ffb718
}

.fs-product-sale-percent sub {
    top: -6px;
    font-size: 8px
}

.fs-product-info {
    padding: 0 20px 20px
}

.fs-product-info h4 {
    color: #000
}

.fs-product-price-box {
    position: relative;
    margin-bottom: 12px
}

.fs-product-price {
    display: block;
    text-decoration: line-through;
    color: #000
}

.fs-product-sale-price {
    display: block;
    font-size: 18px;
    color: #e02020
}

.fs-product-quantity-counter {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 147px;
    height: 16px;
    border-radius: 7px;
    background-color: rgba(247, 181, 0, .5)
}

.fs-product-sold-progress {
    height: 16px;
    border-radius: 7px;
    background-image: linear-gradient(to left, #f83600, #f9d423)
}

.fs-product-quantity-counter span {
    position: absolute;
    top: 0;
    line-height: 18px;
    width: 100%;
    font-size: .7em;
    color: #000;
    text-align: center;
    text-transform: uppercase
}

.c-product-main__flash-sale {
    background-image: linear-gradient(93deg, #5c0000 17%, #ff3026 89%);
    align-items: center;
    display: flex;
    justify-content: space-between
}

.c-product-main__flash-sale-bg {
    background: url(/images/flashsale_bg.png);
    background-repeat: no-repeat;
    background-position: 0 -4px;
    width: 146px;
    height: 40px
}

.c-product-main__flash-sale-countdown {
    display: flex;
    align-items: center;
    color: #fff
}

.c-product-main__flash-sale-clock-icon {
    background: url(/images/clock.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 30px;
    display: inline-block
}

.c-product-main__flash-sale-countdown-label {
    display: flex;
    align-items: center;
    width: 150px
}

.c-product-main__flash-sale-countdown-label span {
    text-transform: uppercase;
    padding-top: 2px
}

.c-product-main__flash-sale-countdown timer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 16px
}

.c-product-main__flash-sale-countdown .day {
    white-space: nowrap;
    color: #ffdc64
}

.c-product-main__flash-sale-countdown .time {
    background: url(/images/rectangle.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    display: inline-block;
    width: 44px;
    height: 46px;
    line-height: 46px;
    text-align: center
}

.c-product-main__text .product-on-sale {
    text-decoration: line-through;
    font-size: 18px;
    color: #000
}

[id|=textAngular-editableFix] {
    display: none !important
}

.breadcrumb>li+li:before {
    content: "\f105" !important;
    font-family: fontawesome;
    width: 16px;
    height: 18px;
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 2px
}

.breadcrumb>li {
    font-family: roboto, sans-serif;
    position: relative;
    padding: 0 0 0 20px;
    color: #000 !important
}

.c-sidebar-menu>ul>li:before {
    display: none !important
}

.c-sidebar-menu>ul>li>a {
    padding: 5px 0;
    font-size: 14px
}

.c-sidebar-menu>ul>li.active>a,
.c-sidebar-menu>ul>li.is-active>a {
    color: #0a64b4
}

.breadcrumb>li:first-child {
    padding-left: 0
}

.slide-list-category-name .owl-item:last-child .m-items {
    margin-right: 0
}

.slide-list-category-name {
    margin-top: 10px !important
}

.slide-list-category-name .owl-nav {
    position: relative;
    top: -45px
}

.slide-list-category-name .b__tags--ls {
    height: auto !important;
    line-height: normal !important;
    padding: 0 10px !important
}

.slide-list-category-name .b__tags--ls a {
    height: 50px;
    line-height: 1.6;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.slide-list-category-name .owl-nav .owl-prev {
    position: absolute;
    left: 5px
}

.slide-list-category-name .owl-nav .owl-next {
    position: absolute;
    right: 5px
}

.slide-list-category-name .owl-item .m-items a:hover,
.slide-list-category-name .owl-item .m-items a:focus {
    text-decoration: unset;
    color: #000
}

@media(min-width:992px) {
    .c-menu-top li a img {
        height: 20px
    }
    .c-menu-top>ul>li:last-child:before {
        display: none !important
    }
    .login_succses:hover .login_succses_menu {
        display: block
    }
    .login_succses_menu {
        display: none;
        background: #fff;
        top: 40px;
        min-width: 210px;
        position: absolute;
        right: 0;
        z-index: 10000;
        border: solid 1px #dfe3e9;
        border-radius: 4px
    }
    .login_succses_menu li a {
        color: #333
    }
    .login_succses_menu li {
        padding: 12px 20px;
        border-bottom: 1px solid #dfe3e9
    }
    .login_succses_menu li a:hover {
        text-decoration: unset
    }
    .c-search .c-search__btn {
        position: absolute;
        width: 48px;
        margin: auto;
        top: 4px;
        right: 5px;
        height: 32px;
        border-radius: 4px;
        background-color: #0971ce;
        border: none
    }
    .c-search .c-search__inner {
        position: relative;
        z-index: 1;
        width: 800px
    }
    .logo {
        text-align: left;
        flex-basis: 20%
    }
    .c-menu-outer {
        background: #fff
    }
    .c-alias__btn {
        background: #fff;
        font-weight: 400;
        padding: 0;
        color: #0a64b4;
        display: block;
        width: 300px;
        line-height: 40px;
        text-transform: uppercase
    }
    body.has-padding {
        padding-top: 0
    }
    .c-sidebar-menu>ul li:hover>a {
        color: #0a64b4
    }
    .c-menu>ul>li>a {
        font-weight: 400;
        color: #0a64b4
    }
    .l-nav.has-fixed {
        position: static
    }
    .c-logo img {
        transition: none
    }
    .c-logo {
        text-align: left;
        transition: none
    }
    .c-header-inner .logo img {
        max-width: 90px;
        max-height: 71px
    }
    .c-menu {
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        display: block;
        background: 0 0
    }
    .c-menu>ul>li:last-child a {
        padding-right: 0
    }
    .c-search .b__tag ul {
        display: flex
    }
    .c-search .b__tag ul li {
        margin-right: 15px
    }
    .c-search .b__tag ul li a {
        color: #fff;
        font-size: 12px
    }
    .new-letter {
        background-color: #e4e4e4
    }
    .new-letter .b__footer--form {
        padding: 10px 0;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        display: flex
    }
    .new-letter .b__footer--form .b__form--left {
        flex-basis: 10%;
        max-width: 10%
    }
    .new-letter .b__footer--form .b__form--center {
        flex-basis: 45%;
        max-width: 45%
    }
    .new-letter .b__footer--form .b__form--center h3 {
        margin-bottom: 0
    }
    .new-letter .b__footer--form .b__form--center p {
        margin-bottom: 0
    }
    .new-letter .b__footer--form .b__form--right {
        flex-basis: 45%;
        max-width: 45%
    }
    .new-letter .b__footer--form .b__form--right .b__search--box {
        display: flex
    }
    .new-letter .b__footer--form .b__form--right .b__search--box .in_control {
        border-radius: 4px 0 0 4px;
        border-right: none;
        border: solid 1px #b8c1cc;
        height: 40px;
        display: inline-block;
        min-width: 430px;
        padding: 6px 12px;
        border: 0
    }
    .new-letter .b__footer--form .b__form--right .b__search--box .btn-register {
        border-radius: 0 4px 4px 0;
        background-color: #ee2624;
        border-left: none;
        color: #fff;
        display: inline-block;
        margin-left: 0;
        height: 40px
    }
    .b__footer {
        font-family: Roboto, sans-serif;
        background-color: #fff;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%
    }
    .b__footer .b__footer--description {
        display: flex;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid #979797
    }
    .b__footer .b__footer--bottom {
        display: flex;
        align-items: center;
        margin-bottom: 30px
    }
    .b__footer--bottom .b__logo--ft {
        width: 15%
    }
    .b__footer--bottom p {
        width: 85%
    }
    .b__footer .b__footer--description .b__footer--logo {
        flex-basis: 25%;
        max-width: 25%
    }
    .b__footer .b__footer--description ul {
        padding: 0;
        margin: 0
    }
    .b__footer .b__footer--description ul li {
        list-style: none;
        margin-bottom: 9px;
        font-size: 14px
    }
    .b__footer .b__footer--description ul li a {
        font-size: 12px;
        color: rgba(0, 0, 0, .54)
    }
    .b__footer .b__footer--description .b__footer--social {
        flex-basis: 25%;
        max-width: 25%
    }
    .b__footer .b__footer--description .b__footer--social p {
        font-size: 12px;
        color: rgba(0, 0, 0, .54)
    }
    .b__footer .b__footer--description .b__footer--social ul.icon_social {
        display: flex;
        align-items: center;
        margin-bottom: 15px
    }
    .b__footer .b__footer--description .b__footer--support .b__support--info li {
        list-style-type: none
    }
    .b__footer .b__footer--description .b__footer--support .b__support--info a {
        font-size: 13px;
        border-radius: 5px;
        display: inline-block
    }
    .b__footer .b__footer--description .b__footer--ls h3 {
        font-size: 13px;
        min-height: 51px;
        display: flex;
        align-items: flex-end;
        color: rgba(0, 0, 0, .54);
        text-transform: uppercase
    }
    .new-letter .b__footer--form .b__form--left a img {
        max-width: 82px
    }
    .b__footer .b__footer--description .b__footer--social ul.icon_social li {
        padding-right: 15px;
        margin-bottom: 0
    }
    .b__footer .b__footer--description .b__app .b__app-icon a img {
        height: 46px;
        min-width: 188px
    }
    .b__footer ul li a:hover {
        text-decoration: none;
        color: #0871ce
    }
    .b__footer .b__footer--bottom p {
        font-size: 13px;
        margin: 0;
        text-align: center;
        line-height: 1.6
    }
    .b__footer .b__footer--description .b__footer--support .b__support--info a {
        font-size: 12px;
        border-radius: 5px;
        display: inline-block;
        color: rgba(0, 0, 0, .54);
        text-decoration: unset
    }
    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
    .flex-row-reverse {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }
    .b__footer .b__footer--bottom img {
        margin-right: 15px
    }
    .c-bill-filter label {
        margin-left: 15px
    }
}

.order_submit_cart_mb {
    display: none
}

.order_submit_cart_pc {
    display: block
}

.radio_check {
    display: flex
}

.content-left {
    text-align: left
}

.title-p {
    font-weight: 700
}

.close-pc {
    display: block
}

.close-mb {
    display: none !important
}

span.promotion {
    color: #0871ce
}

.package-total {
    font-weight: 700;
    font-size: 16px;
    color: #0871ce
}

.btn-back {
    display: none
}

.them-moi-mobile {
    display: none
}

.them-moi-pc {
    display: block
}

@media(max-width:767px) {
    .update-order-notification .c-whitebox__title {
        display: flex;
        justify-content: space-between
    }
    .icon-ocop_mb {
        background-image: url(/static/v2/images/Frame-OCOP-2.png);
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        padding-top: 23%;
        background-size: 100% 100%;
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        right: 0
    }
    .btn-close-popup-pc {
        display: none
    }
    .btn-add-new-mb {
        width: 100%
    }
    .popup-address-mobile .btn-close-page {
        width: 33%
    }
    .popup-address-mobile .b-title {
        width: 100%;
        text-align: center
    }
    .popup-address-mobile .btn-add-new {
        width: 33%
    }
    .popup-address-mobile .modal-body {
        padding: 0 !important
    }
    .popup-address-mobile .popup-address .b__cart_mb-box {
        padding: 10px
    }
    .modal-desktop .modal-header {
        background-color: #0971ce;
        padding: 13px
    }
    .modal-desktop .modal-header h5 {
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        font-size: 13px
    }
    .modal-desktop .modal-body {
        background-color: #fff !important
    }
    .popup-address-mobile .modal-header {
        background-color: #0971ce;
        align-items: center;
        padding: 8px
    }
    .popup-address-mobile .modal-footer button {
        width: 100%
    }
    .popup-address-mobile .modal-header h5 {
        margin: 0;
        color: #fff;
        font-size: 14px
    }
    .popup-address-mobile .btn-info {
        background-color: transparent;
        border-color: transparent
    }
    .popup-address-mobile .close-mobile,
    .modal-desktop .close-mobile {
        left: 0;
        top: 15px !important;
        padding: 0 !important
    }
    .them-moi-mobile {
        display: block
    }
    .them-moi-pc {
        display: none
    }
    .back-page {
        margin: 20px 0
    }
    .back-page button {
        width: 100%;
        background: #0871ce;
        margin: 0 !important;
        left: 0 !important;
        padding: 8px !important
    }
    .back-page button i {
        font-size: 20px;
        color: #fff
    }
    .popup-mobile .modal-footer {
        display: block;
        text-align: center
    }
    .popup-mobile .modal-footer p {
        margin-right: 0
    }
    .popup-mobile .modal-body {
        padding: 0 10px
    }
    .popup-mobile .modal-body form .btn-register {
        width: 100%;
        border-radius: 2px
    }
    .row-mb {
        display: block
    }
    .popup-promotion-fw .popup-promotion .sale-code-item-text {
        width: 60%;
        margin-left: 10px
    }
    .popup-promotion-fw .popup-promotion .sale-code-item-img {
        width: 70px
    }
    .popup-promotion-fw .popup-promotion .sale-code-item-button {
        margin-right: 0
    }
    .popup-promotion-fw .group-promotion {
        padding: 0 10px
    }
    .popup-promotion .sale-code-item {
        margin: 10px 0;
        overflow: hidden;
        padding: 10px 0;
        background-color: rgba(235, 235, 235, .4)
    }
    .popup-promotion-fw .close-mb .fa-chevron-left {
        font-size: 18px
    }
    .c-alias__expand {
        border-right: none !important
    }
    .popup-promotion-fw .modal-footer,
    .modal-desktop .modal-footer,
    .popup-address-mobile .modal-footer {
        padding: 0
    }
    .popup-promotion-fw .modal-footer button,
    .modal-desktop .modal-footer button,
    .popup-address-mobile .modal-footer button {
        width: 100%;
        border-radius: 0;
        padding: 10px;
        margin-left: 0 !important;
        text-transform: uppercase
    }
    .popup-promotion-fw .modal-header {
        padding: 0
    }
    .popup-promotion-fw .popup-promotion {
        padding: 0 !important
    }
    .popup-promotion-fw button.close {
        left: -10px !important;
        top: 3px !important
    }
    .popup-promotion-fw .popup-promotion>h5 {
        padding: 13px 0;
        background: #0971ce;
        color: #fff
    }
    .close-pc {
        display: none !important
    }
    .close-mb {
        display: block !important;
        background-color: transparent !important;
        border: none !important
    }
    .btn-back {
        display: block
    }
    .popup-promotion-fw,
    .popup-mobile,
    .popup-address-mobile,
    .modal-desktop {
        padding: 0
    }
    .popup-promotion-fw .modal-dialog,
    .popup-mobile .modal-dialog,
    .popup-address-mobile .modal-dialog,
    .modal-desktop .modal-dialog {
        top: 0 !important;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0
    }
    .popup-promotion-fw .modal-content,
    .popup-mobile .modal-content,
    .popup-address-mobile .modal-content,
    .modal-desktop .modal-content {
        height: auto;
        min-height: 100%;
        border: none
    }
    .popup-promotion .box-input-coupon label input {
        min-width: auto
    }
    .b__cart--wapper .b__cart--info .b__cart .b__cart-info-right .b__cart-content .b__cart-header ul {
        margin-bottom: 0
    }
    .b__cart-body-products ul li>span {
        display: none
    }
    .total_b_price {
        color: #e02020;
        font-size: 24px;
        font-weight: 700
    }
    .package-total {
        color: #0871ce;
        font-size: 16px;
        font-weight: 700
    }
    .price__p {
        display: inline;
        position: relative;
        top: 4px
    }
    .b__cart--wapper .b__cart--info .b__cart .b__cart-info-right .b__cart-content .b__cart-body .b__cart-body-products ul li .btn-delete-product {
        position: absolute;
        top: 0;
        right: 10px
    }
    .b__cart--info {
        overflow: hidden
    }
    span.s-right {
        display: none
    }
    .group_product-total-price {
        display: none
    }
    .b__cart-info-left {
        background: #fff;
        margin-bottom: 10px
    }
    .b__cart--wapper .b__cart--info .b__cart .b__cart-info-left .b__cart-content {
        background: 0 0
    }
    .b__flashsale .container {
        padding: 0
    }
    .wallet-price-tag {
        width: 48.9%
    }
    .c-header {
        padding: 0 10px
    }
    .c-header .c-header-inner {
        display: block
    }
    .c-menu-outer {
        display: none
    }
    .b__tag {
        display: none
    }
    .logo {
        width: 20%;
        float: none;
        margin: 0;
        margin-left: 40px
    }
    .logo img {
        max-width: 100%;
        max-height: 25px
    }
    .c-header .c-header-inner .c-admin {
        top: 12px;
        right: 12px
    }
    .new-letter {
        padding: 0 15px;
        background-color: #fff
    }
    .b__footer--form {
        display: block !important
    }
    .new-letter .b__footer--form .b__form--left {
        flex-basis: 100% !important;
        max-width: 100% !important;
        text-align: center
    }
    .new-letter .b__footer--form .b__form--center {
        flex-basis: 100%;
        max-width: 100%
    }
    .new-letter .b__footer--form .b__form--right {
        flex-basis: 100% !important;
        max-width: 100% !important
    }
    .new-letter .b__footer--form .b__form--left a img {
        max-width: 82px
    }
    .new-letter .b__footer--form .b__form--center h3 {
        display: none
    }
    .new-letter .b__footer--form .b__form--center p {
        margin-bottom: 0;
        text-align: center;
        padding: 15px 0
    }
    .new-letter .b__footer--form .b__form--right .b__search--box {
        display: flex
    }
    .new-letter .b__footer--form .b__form--right .b__search--box .in_control {
        min-width: auto;
        max-width: 300px
    }
    .new-letter .b__footer--form .b__form--right .b__search--box .in_control {
        border-radius: 4px 0 0 4px;
        border: solid 1px #b8c1cc;
        height: 40px;
        display: inline-block;
        padding: 6px 12px;
        width: 100%
    }
    .b__footer--form .b__form--right .b__search--box .btn-register {
        width: 97px;
        height: 36px;
        top: 5px;
        right: 5px;
        border-radius: 4px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer
    }
    .b__footer--description {
        display: none
    }
    .b__footer .b__footer--info {
        padding: 0 15px;
        padding-bottom: 46px
    }
    .b__footer--description {
        display: none !important
    }
    .visible-xs-block {
        display: block !important
    }
    .title-mobile {
        font-size: 13px;
        text-align: center;
        padding: 12px 0
    }
    .b__app .b__app-icon {
        display: flex;
        max-width: 100%
    }
    .b__app .b__app-icon .ad-app {
        margin-right: 5px
    }
    .b__app .b__app-icon img {
        width: 100%
    }
    .b__footer .b__footer--bottom {
        align-items: center;
        margin-bottom: 30px
    }
    .b__footer .b__footer--bottom .b__logo--ft {
        text-align: center;
        margin: 15px 0;
        display: inherit !important
    }
    .b__footer .b__footer--bottom .b__logo--ft a img {
        height: 40px;
        margin-right: 0
    }
    .b__footer .b__footer--bottom p {
        font-size: 13px;
        margin: 0;
        text-align: center;
        line-height: 1.6
    }
    .b__footer--form .b__form--right .b__search--box .btn-register {
        width: 97px;
        top: 5px;
        right: 5px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer
    }
    .new-letter .b__footer--form .b__form--right .b__search--box .btn-register {
        margin-left: 0;
        border-radius: 0 4px 4px 0;
        background-color: #0871ce;
        color: #fff;
        display: inline-block;
        height: 40px
    }
    .table-responsive {
        overflow-x: auto
    }
    .c-search__inner {
        position: relative
    }
    .mobile-sidebar {
        display: block !important;
        top: 7px;
        left: -5px
    }
    .c-nav-top {
        display: none
    }
    .c-alias-close {
        display: block;
        padding: 9px 15px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        border-bottom: 1px solid #ddd
    }
    .c-alias-close .fa-times {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 20px
    }
    .c-search .c-search__btn {
        background: #0971ce;
        top: 4px;
        right: 4px;
        height: 32px;
        width: 50px;
        border-radius: 4px;
        line-height: 40px;
        position: absolute;
        border: none
    }
    .breadcrumb {
        padding: 0 10px
    }
    .slide-list-category-name .b__tags--ls a {
        line-height: 1.1
    }
    .b__heart .b__heart--info .b__tags .b__tags--ls {
        margin-bottom: 0;
        margin-right: 0
    }
    .b-notification {
        display: none
    }
    .b__cart--info .form-row {
        display: block
    }
    .b__vosoMall .b__vosoMall--info .b__vosoMall--content .b__vosoMall--right .b__vosoMall--mb {
        display: none !important
    }
    .b__browser--wapper_mall .container {
        padding: 0
    }
    .b__banner--mall .container {
        padding: 0
    }
    .b__browser--mall .b__browser--title h3 {
        font-size: 15px
    }
    .b__browser--wapper_mall .b__browser--title {
        padding: 0
    }
    .b-header__browser-mall .btn-search {
        background: #fff !important
    }
}

.btn-close-popup-location {
    position: absolute;
    top: -1px;
    right: -28px;
    border: 1px solid #696969;
    color: red;
    background: #fff;
    padding: 0 9px;
    user-select: none;
    z-index: 9;
    font-weight: 800;
    display: none
}

.popup_location {
    overflow: inherit !important
}

.popup_location .border_bottom {
    border-bottom: 1px dotted
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.disable-click-event {
    pointer-events: none;
    cursor: default
}

.payment-gateway {
    cursor: pointer
}

.wallet-price {
    display: flex;
    flex-direction: row;
    border: 1px solid #ced4db;
    padding: 5px;
    flex-wrap: wrap
}

.wallet-price span {
    border: 1px solid #ced4da;
    text-align: center;
    margin: 5px;
    width: 30%;
    padding: 4px;
    cursor: pointer
}